# Make sure clams-python version is explicitly specified, at least the lower bound
clams-python>=1.0.9

requests~=2.31.0
beautifulsoup4~=4.12.2
lapps~=0.0.2
SPARQLWrapper~=2.0.0

bs4~=0.0.1
urllib3~=1.26.15
